<%= stylesheet_link_tag 'listing' %>

<% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@listing.errors.count, "error") %>
      prohibited this listing from being saved:
    </h2>

    <ul>
    <% @listing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 



<%= form_for @listing do |f| %>
    <div>
      <%= f.label "Title" %> 
      <%= f.text_field :title %>
    </div><br>
    <div>
      <%= f.label "Description" %> 
      <%= f.text_area :description %>
    </div><br>
    <div>
      <%= f.label "Category" %> 
      <%= f.collection_select :category_id, Category.all, :id, :name, {:prompt => "Select Category"}, class: "erb-button" %>
    </div><br>
    <div>
    <%= f.label "Upload Image" %>
    <%= f.file_field :image %>
    </div><br>
    
    <%= f.button  :submit , name: :owner_id, value: session[:user_id] %>
    
<% end %>


