<h1>Listings</h1>
<div><%= link_to 'Create New Listing', new_listing_path %></div>
<br />

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>      
      <th>Status</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |l| %>
      <tr>
        <td><%= l.title %></td>
        <td><%= l.category.name %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

        <td>
          <%= link_to 'View Listing', l %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

