<h1>Listings</h1>
<ul>
<% @listings.each do |l| %>
  <li>Title: <%= link_to l.title, listing_path(l)  %></li>
  <li>Category: <%= l.category.name %></li>
  <li>Description: <%= l.description %></li>
  <li>Status: <% if l.claimed %>
    <%= "Item has been claimed" %>
    <% else %>
    <%= "Item is available" %>
    <% end %>
 </li>
  <li>Owner: <%= l.owner.name %></li>
<% end %>
</ul>