<%= stylesheet_link_tag 'listing' %>
<h1>Listings</h1>

<br>
  <%= link_to "View by Category", categories_path %>
  <br>
    <%= link_to "View by Neighborhood", locations_path %>
    <br>
<br>
<div><%= button_to 'Create New Listing', new_listing_path, method: :get, class: "erb-button"%></div>
<br />

<table>
  <thead>
    <tr>
      <th>TITLE</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>      
      <th>STATUS</th>
      <th>OWNER</th>
      <th>NEIGHBORHOOD</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |l| %>
      <tr>
        <td><%= link_to "#{l.title}", l  %></td>
        <td><%= link_to l.category.name, l.category %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

        <td>
          <%= link_to "#{l.owner.name}", l.owner %> 
        </td>
         <td><%= link_to l.owner.location.neighborhood, l.owner.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

