<h2><%= @listing.title %></h2>
<p>
  <%= @listing.description %>
  <br>
</p>
<p> Category: 
  <%= @listing.category.name %>
  <br>
</p>
<br>
<p> Status: 
  <% if @listing.claimed %>
    <%= "Item has been claimed" %>
    <% else %>
        <%= "Item is available" %>
        <% end %>

  <br>
</p>
<br>
<p> Owner: 
  <%= link_to @listing.owner.name, user_path(@listing.owner) %>
  <br>
</p>

<br>
<% if @listing.recipient %>
<p> Recipient: 
  <%= link_to @listing.owner.name, user_path(@listing.owner) %>
  <br>
</p>
<% end %>
<br>
<h4>Likes: <%= @listing.likes.count %></h4>

<% if @listing.owner.id != session[:user_id]%>
<%= form_tag likes_path do %> 
    <%= hidden_field_tag "like[liker_id]", session[:user_id] %>   
    <%= hidden_field_tag "like[listing_id]", @listing.id %>           
<%= submit_tag "LIKE THIS ITEM" %>
    <% end %>
<% else %>
<h6> <%= "The following users are interested in your item: "%></h6> 
    <ul><% @listing.likes.each do |l| %>
    <li><%= link_to "#{l.liker.name}, @#{l.liker.username}", user_path(l.liker) %> </li>
        <% end %>
        </ul>      
 <% end %>


<%= button_to "Edit Listing", edit_listing_path(@listing), method: :get%>
<%= button_to "Delete Listing", confirm_delete_listing_path(@listing), method: :get%>






