<h1 class="listing-show"><%= @listing.title %></h1>
<br>
<div class="listing-show"><% if @listing.image.attached? %>
    <%= image_tag url_for(@listing.image) %> 
<% end %></div>
<br>
<p class="listing-show">
  <%= @listing.description %>
</p>
<p class="listing-show"> Category: 
  <%= @listing.category.name %>
</p>

<p class="listing-show"> Status: 
  <% if @listing.claimed %>
    <%= "Item has been claimed" %>
    <% else %>
        <%= "Item is available" %>
  <% end %>
  <br>
</p>
<p class="listing-show"> Owner: 
  <%= link_to @listing.owner.name, user_path(@listing.owner) %>
  <br>
</p>




<% if @listing.recipient %>

<p> Recipient: 
  <%= link_to @listing.recipient.name, user_path(@listing.recipient) %>
  <br>
</p>
<% end %>
<br>
<h4>Likes: <%= @listing.likes.count %></h4>


<div class = "likes-followers">
<% if @listing.owner.id != session[:user_id]%>


  <% if @listing.likers.any? {|l| l.id == session[:user_id]} %>

<%= form_tag like_path(Like.find_by(listing_id: @listing.id, liker_id: session[:user_id])), method: :delete do %> 
    <%= hidden_field_tag "like[liker_id]", session[:user_id] %>   
    <%= hidden_field_tag "like[listing_id]", @listing.id %>           
<%= submit_tag "UNLIKE THIS ITEM", class: "erb-button" %>
    <% end %>
    <% else %>
<%= form_tag likes_path do %> 
    <%= hidden_field_tag "like[liker_id]", session[:user_id] %>   
    <%= hidden_field_tag "like[listing_id]", @listing.id %>           
<%= submit_tag "LIKE THIS ITEM", class: "erb-button" %>
    <% end %>
  <% end %>    

<% else %>
<h4> <%= "The following users are interested in your item: "%></h4> 
    <ul><% @listing.likes.each do |l| %>
    <li><%= link_to "#{l.liker.name}, @#{l.liker.username}", user_path(l.liker) %> </li>
        <% end %>
    </ul>      

 <% end %>
<br>
<% if @listing.owner.id == session[:user_id] && @listing.claimed == false %>
<p>Please choose a user to give your item to:</p>
  <%= form_for @listing, method: :patch, class: "erb-button" do |f| %> 
        <%= f.collection_select :recipient_id, @listing.likers, :id, :name, class: "erb-button" %>  
          <%= f.hidden_field :claimed, {:value => true} %>  
          <br>         
      <%= f.submit  "Click to give this user your item.", class: "erb-button" %>
    <% end %>
              <% end %>
<br>
<% if @listing.owner.id == session[:user_id] && @listing.recipient %>
  <h4>You have chosen to give your item to <%= @listing.recipient.name %>. You can contact them at: </h4>
  <%= @listing.recipient.contact_info %>
  <br>
<% end %>

</div>
<br>
<% if @listing.owner.id == session[:user_id]%>
<%= button_to "Edit Listing", edit_listing_path(@listing), method: :get, class: "erb-button"%>
<%= button_to "Delete Listing", confirm_delete_listing_path(@listing), method: :get, class: "erb-button"%>
  <% end %>






