<h1>Edit your Profile</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 



<%= form_for @user do |f| %> 
    <%= f.label "Name" %> 
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label "Bio" %> 
    <%= f.text_area :bio %>
    <br>
    <br>
    <%= f.label "Contact info" %> 
    <%= f.text_area :contact_info %>
    <br>
    <br>
    <%= f.label "Upload Image" %>
    <%= f.file_field :image %>

<%= f.submit class: "erb-button" %>
<% end %>

 <%= button_to "Delete Account", confirm_delete_path(@user), method: :get, class: "erb-button"%>
