<h1>Create a new account</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 



<%= form_for @user do |f| %> 
    <%= f.label "Name" %> 
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label "Username" %> 
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label "Password" %> 
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.label "Password Confirmation" %> 
    <%= f.password_field :password_confirmation %>
    <br>
    <br>


    <%= f.label "Contact info" %> 
    <%= f.text_area :contact_info %>
    <br>
    <br>
    <%= f.label "Bio" %> 
    <%= f.text_area :bio %>
    <br>
    <br>
    <%= f.label "Upload Profile Picture" %>

<br>
    <label class="button-image">
      <%= f.file_field :image, value: "", class: "active-storage-button" %>
    </label>
<br>


  <br>
    <%= f.collection_select :location_id, Location.all, :id, :neighborhood, {prompt: "Select Neighborhood"}, class: "erb-button"  %> 
  <br>
  <br>


<%= f.submit class: "erb-button" %>
<% end %>
<br>

<h3>Already have an account?</h3>
<%= button_to "Login", new_session_path, method: :get, class: "erb-button"%>
