<h2><%= @user.name %></h2>
<p>
  <%= @user.user_name %>
  <br>
</p>
<p> Bio: 
  <%= @user.bio %>
  <br>
</p>
<br>
<p> Listing: 
  <%= @user.listed_items.each do |l| %>
     <%= link_to l.title, listing_path(l) %>
     <% end %>
 </p>

