<h1><%= @user.name %></h1>

<% if @user.image.attached? %>
    <img src="<%= (url_for(@user.image))%>" >
<% end %>

<h4> Username: <%= @user.username %> </h4>
<h4> Bio: <%= @user.bio %> </h4>
<% if @user.id == session[:user_id]%>
<h4> Contact Information: 
  <%= @user.contact_info %>
</h4>
  <% end %>
<br>

<h3> <%= @user.name.upcase%>'S LISTINGS </h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>      
      <th>Status</th>
      <th>Neighborhood</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.listed_items.each do |l| %>
      <tr>
        <td><%= link_to "#{l.title}", l  %></td>
        <td><%= link_to l.category.name, l.category %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

         <td><%= link_to l.owner.location.neighborhood, l.owner.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>







<br>
<br>
<br>


<% if @user.id == session[:user_id]%>
 <%= button_to "Edit Profile", edit_user_path(@user), method: :get%>
 <%= button_to "Delete Account", confirm_delete_path(@user), method: :get%>
  <% end %>

