<h2><%= @user.name %></h2>
<p>
  <%= @user.username %>
  <br>
</p>
<p> Bio: 
  <%= @user.bio %>
  <br>
</p>
<br>
<p> Listings: 

  <% @user.listed_items.each do |l| %>
     <%= link_to l.title, listing_path(l) %>
     <% end %>
 </p>

 <%= button_to "Edit Profile", edit_user_path(@user), method: :get%>
 <%= button_to "Delete Account", confirm_delete_path(@user), method: :get%>


