
  <h1 class= "c-show"><% 10.times do  %>
  <%= @category.emoji %>  
            <% end %>
            <%= @category.name.upcase %>
            <% 10.times do  %>
  <%= @category.emoji %>  
            <% end %>
            

        </h1>
<br>


<table class ="cat-table">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>      
      <th>STATUS</th>
      <th>OWNER</th>
      <th>NEIGHBORHOOD</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @category.listings.each do |l| %>
      <tr>
        <td><%= link_to "#{l.title}", l  %></td>
        <td><%= l.category.name %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

        <td>
          <%= link_to "#{l.owner.name}", l.owner %> 
        </td>
         <td><%= l.owner.location.neighborhood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

