  <h1><%= @category.name %></h1>
  
<br>
  <h3>LISTINGS IN THIS CATEGORY</h3>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>      
      <th>Status</th>
      <th>Owner</th>
      <th>Neighborhood</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @category.listings.each do |l| %>
      <tr>
        <td><%= link_to "#{l.title}", l  %></td>
        <td><%= l.category.name %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

        <td>
          <%= link_to "#{l.owner.name}", l.owner %> 
        </td>
         <td><%= l.owner.location.neighborhood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

