  <h1><%= @location.neighborhood %></h1>
  
<br>
  <h3>ALL LISTINGS IN <%= @location.neighborhood.upcase %>, CHICAGO</h3>


<table>
  <thead>
    <tr>
      <th>TITLE</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>      
      <th>STATUS</th>
      <th>OWNER</th>
      <th>NEIGHBORHOOD</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @location.listed_items.each do |l| %>
      <tr>
        <td><%= link_to "#{l.title}", l  %></td>
        <td><%= link_to l.category.name, l.category %></td>
        <td><%= l.description %></td>
        <td> 
             <% if l.claimed %>
         <%= "Item has been claimed" %>
          <% else %>
          <%= "Item is available" %>
          <% end %> </td>

        <td>
          <%= link_to "#{l.owner.name}", l.owner %> 
        </td>
         <td><%= l.owner.location.neighborhood %></td>
      </tr>
    <% end %>
  </tbody>
</table>

